@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HEADER SECTION STYLES */
.header img {
    height: 70px;
}
.header-active {
    color: #000;
    border-bottom: purple solid 3px;
}
header ul li:hover {
    color: #000;
    border-bottom: purple solid 3px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/* AUTHENTICATION PAGES STYLES */
.auth {
    display: flex;
    background: linear-gradient(to right, #f5e694, #2c0855);
}
.auth p {
    /* font-size: small; */
    line-height: 0.9em;
}
.auth div .form {
    border-radius: 10px;
}
.auth div .form input{
    font-size: 17px;
    font-weight: 500;
    background: linear-gradient(to right, #c7c7c7, #ffffff);
    transition: ease-in-out 0.3s;
}
.auth div .form input::placeholder {
    letter-spacing: 1px;
    text-align: start;
    color: #a09898;
    font-size: 17px;
}
.auth .formCont .form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.auth div .form button {
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    background: linear-gradient(to right, #62596d,#f5e694);
}
.shadow-thick {
    --tw-shadow: 0 11px 28px 26px rgba(85, 0, 0, 0.1), 0 15px 43px 27px rgba(0, 0, 1, 0.06);
}
@media (min-width: 850px){
    .auth .formCont {
        display: flex;
        align-items: center;
    }
    .auth .formCont .form{
        margin: 50px auto;
        width: 80%;
    }
    .auth .imgCont {
        height: auto;
    }
}
@media (max-width: 850px) {
    .auth {
        display: flex;
        flex-direction: column-reverse;
    }
    .auth .formCont {
        display: flex;
    }
    .auth .formCont .form {
        width: 80%;
    }
    .auth .imgCont {
        height: 250px;
    }
}
@media (max-width: 480px) {
    .auth {
        display: flex;
        flex-direction: column;
    }
    .auth .formCont {
        padding: 0;
        margin: auto;
    }
    .auth .formCont .form {
        width: 100%;
    }
    .auth div form span {
        font-size: 15px;
        line-height: 28px;
    }
    .auth div .form input::placeholder {
        font-size: 12px;
    }
}